body{
    display: grid;
    grid-template-rows: 1fr 5fr 0.75fr;
    grid-template-columns: 1fr;
    justify-content: center;
}

#postPreview{
    margin: auto;
}

#postTitle{
    font-size: 2em;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 6%;
    padding-top: 2%;
}

#postBody{
    font-size: 1.2em;
    margin-left: 15%;
    margin-right: 15%;
}